h1 {
    font-size: 48px;
    color:  rgb(24, 163, 5);
    font-family: 'Verdana';
    text-decoration: underline;
    text-align: center;
}
p {
    height: 120px;
    width: 800px;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    line-height: 40px;
}
a {
    font-size: 24px;
    color: white;
    background-color: rgb(24, 163, 5);
    text-decoration: none;
    font-family: 'Georgia';
}
span {
    font-weight: bold;
}